<?xml version="1.0"?>
<robot name="zed_camera"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="zed_camera" params="prefix parent *origin">

    <joint name="${prefix}_base_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_camera_center"/>
    </joint>


    <link name="${prefix}_camera_center">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://eufs_sim2/eufs_racecar/sensors/meshes/zed.dae" />
        </geometry>
        <material name="light_grey">
          <color rgba="0.8 0.8 0.8 0.8"/>
        </material>
      </visual>
    </link>


    <!-- Left and right frames -->
    <link name="${prefix}_left_camera_frame"/>

    <link name="${prefix}_right_camera_frame"/>

    <link name="${prefix}_left_camera_optical_frame"/>

    <link name="${prefix}_right_camera_optical_frame"/>

    <joint name="${prefix}_left_camera_joint" type="fixed">
      <parent link="${prefix}_camera_center"/>
      <child link="${prefix}_left_camera_frame"/>
      <origin xyz="0 0.06 0" rpy="0 0 0" />
    </joint>

    <joint name="${prefix}_right_camera_joint" type="fixed">
      <parent link="${prefix}_camera_center"/>
      <child link="${prefix}_right_camera_frame"/>
      <origin xyz="0 -0.06 0" rpy="0 0 0" />
    </joint>

    <joint name="${prefix}_left_camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_left_camera_frame" />
      <child link="${prefix}_left_camera_optical_frame"/>
    </joint>

    <joint name="${prefix}_right_camera_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}_right_camera_frame" />
      <child link="${prefix}_right_camera_optical_frame"/>
    </joint>

    <!-- depth frame -->
    <link name="${prefix}_depth_camera_frame"/>

    <joint name="${prefix}_depth_camera" type="fixed">
      <parent link="${prefix}_camera_center"/>
      <child link="${prefix}_depth_camera_frame"/>
      <origin xyz="0 0.06 0" rpy="-${0.5*pi} 0 -${0.5*pi}" />
    </joint>

  </xacro:macro>
</robot>
